body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titre {
  width: 400px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.selection {
  width: 400px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.bloc {
  width: 400px;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.bloc h2 {
  text-align: left;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
  border-radius: 15px;
  height: 6vh;
  opacity: 0.5;
  margin: 10px;
}

[type="radio"] + h3 {
  cursor: pointer;
  border-radius: 15px;
  height: 6vh;
  opacity: 0.5;
  margin: 10px;
  background-color: white;
  color: black;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  opacity: 1;
}

[type="radio"]:checked + h3 {
  opacity: 1;
}

.server-selector {
  margin-top: 50px;
  margin-bottom: 20px;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 400px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
