@font-face {
    font-family: 'Inter';
    src: url('Inter.ttf') format('truetype');
}

* {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

h6 {
    color: #BBBBBB;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}

h5 {
    color: #6D6D6D;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal {
    flex-direction: row;
}

body {
    background-color: #BBBBBB;
}

.widget-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.widget {
    background: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    h1 {
        font-size: 35px;
        line-height: 42px;
        display: flex;
        align-items: center;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .state-info {
        display: flex;
        flex-direction: column;
        margin: 2px;
    }
    .state-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.side {
    width: 25%;
}

.text-box {
    background: #BBBBBB;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
}

.mdi {
    font-size: 35px;
    color: #535353;
}

hr {
    border: 2px solid #BBBBBB;
    border-radius: 10px;
    margin: 10px 0;
}

span.value {
    color: #01A2E0;
}

.main {
    width: 50%;
    label {
        background: #FFFFFF;
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
        padding: 10px;
    }
    input[type='radio'] {
        display: none;
        &:not(:disabled)+label {
            cursor: pointer;
        }
    }
    input[type='radio']:checked+label {
        background: #01A2E0;
        color: #FFFFFF;
        cursor: default;
    }
}

.conso-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    canvas {
        border: 1px solid #000000;
        border-radius: 15px;
    }
}

.period-selector {
    margin: 10px 0;
    padding: 10px;
}

.needle {
    transform: rotate(20deg);
    transform-origin: center;
}

.text-below-gauge {
    // position: relative;
    // top: -30px;
    text-align: center;
    h4 {
        color: #48A23F;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
}

.price>* {
    color: #FFCF00;
}

.price-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .label {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 10px;
    }
}

.line {
    display: flex;
    flex-direction: row;
    .HCHP {
        display: flex;
        flex-direction: column;
        height: 30px;
        color: white;
        justify-content: center;
        padding: 0 10px;
        &.HC {
            background-color: #01A2E0;
            align-items: flex-start;
        }
        &.HP {
            background-color: #E63A0F;
            align-items: flex-end;
        }
    }
}

.gauge-value {
    position: relative;
    top: -150px;
    * {
        color: #5AAA3B;
    }
    h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 73px;
    }
}

#today {
    margin-right: 30px;
    cursor: pointer;
}

.settings-window {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .window-content {
        padding: 10px;
        width: 30%;
        height: 80%;
        border: 1px solid #000000;
        border-radius: 10px;
        background: #FFFFFF;
    }
}

.window-background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}