body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.black-text {
  background-color: white;
  color: black;
}

.titre {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.bloc {
  border: 1px solid white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  text-align: left;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
  border-radius: 15px;
  height: 6vh;
  opacity: 0.5;
  margin: 10px;
}

[type="radio"] + .linky-selector {
  cursor: pointer;
  border-radius: 15px;
  height: 6vh;
  opacity: 0.5;
  background-color: white;
}

[type="radio"]:checked + img {
  opacity: 1;
}

[type="radio"]:checked + .linky-selector {
  opacity: 1;
}

.input-field {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 50vw;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wifi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web,
.mqtt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mqtt {
  display: none;
}

p {
  text-align: left;
  font-size: 15px;
}

.linky-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

input[type="submit"],
button {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
}
button:hover {
  background-color: #cccccc;
}
button:active {
  background-color: #999999;
}

.server-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

input::placeholder {
  opacity: 0.5;
  color: grey;
  font-size: 15px;
}

h3 {
  font-size: 15px;
}
